<input
    type="{{ type || 'text' }}"
    class="form-control full-width"
    ng-if="!maxlength || disableLength()"
    ng-model="$parent.model"
    ng-required="required"
    ui-mask="{{ mask || '' }}"
    ng-attr-min="{{ attrs.min || undefined }}"
    ng-attr-max="{{ attrs.max || undefined }}"
    ng-attr-step="{{ attrs.step || undefined }}"
    ng-attr-form="{{ attrs.form || undefined }}"
    ng-attr-name="{{ attrs.dgName || undefined }}"
    ng-attr-placeholder="{{ attrs.placeholder || undefined }}"
    ng-attr-id="{{ dgId || undefined }}"
    ng-attr-autocomplete="{{ attrs.autocomplete || undefined }}"
    ng-attr-inputmode="{{ attrs.inputmode || undefined }}"
    ng-attr-list="{{ attrs.list || undefined }}"
    ng-attr-maxlength="{{ attrs.maxlength || undefined }}"
    ng-pattern="{{ attrs.pattern || undefined }}"
    ng-readonly="readonly"
    ng-attr-size="{{ attrs.size || undefined }}"
    ng-attr-spellcheck="{{ attrs.spellcheck || undefined }}"
    ng-attr-tabindex="{{ attrs.tabindex || undefined }}"
    ng-disabled="ngDisabled"
    number-only="{{ numberOnly() ? 'true' : '' }}"
    ng-model-options="ngModelOptions || {}"
>

<div class="input-group" ng-if="maxlength && !disableLength()">
    <input
        type="{{ type || 'text' }}"
        class="form-control"
        ng-model="$parent.model"
        ng-required="required"
        ng-attr-min="{{ attrs.min || undefined }}"
        ng-attr-max="{{ attrs.max || undefined }}"
        ng-attr-step="{{ attrs.step || undefined }}"
        ng-attr-form="{{ attrs.form || undefined }}"
        ng-attr-name="{{ attrs.dgName || undefined }}"
        ng-attr-placeholder="{{ attrs.placeholder || undefined }}"
        ng-attr-id="{{ dgId || undefined }}"
        ng-attr-autocomplete="{{ attrs.autocomplete || undefined }}"
        ng-attr-inputmode="{{ attrs.inputmode || undefined }}"
        ng-attr-list="{{ attrs.list || undefined }}"
        ng-attr-maxlength="{{ attrs.maxlength || undefined }}"
        ng-pattern="{{ attrs.pattern || undefined }}"
        ng-readonly="readonly"
        ng-attr-size="{{ attrs.size || undefined }}"
        ng-attr-spellcheck="{{ attrs.spellcheck || undefined }}"
        ng-attr-tabindex="{{ attrs.tabindex || undefined }}"
        ng-disabled="ngDisabled"
        number-only="{{ numberOnly() ? 'true' : '' }}"
        ng-model-options="ngModelOptions || {}"
    >
    <div
        class="input-group-addon"
        ng-bind="maxlength - model.length"
    ></div>
</div>
