<input
    type="{{ type || 'text' }}"
    class="form-control full-width"
    ng-if="!maxlength || disableLength"
    ng-model="$parent.model"
    ng-required="required"
    ng-attr-placeholder="{{ placeholder }}"
    ui-mask="{{ mask || '' }}"
    ng-attr-maxlength="{{ maxlength }}"
    ng-attr-min="{{ attrs.min ? attrs.min : null }}"
    ng-attr-max="{{ attrs.max ? attrs.max : null }}"
    ng-attr-step="{{ attrs.step ? attrs.step : null }}"
    number-only="{{ numberOnly() ? 'true' : '' }}"
    ng-model-options="ngModelOptions"
>

<div class="input-group" ng-if="maxlength && !disableLength">
    <input
        type="{{ type || 'text' }}"
        class="form-control"
        ng-model="$parent.model"
        ng-required="required"
        ng-attr-id="{{ dgId }}"
        ng-attr-placeholder="{{ placeholder }}"
        ng-attr-maxlength="{{ maxlength }}"
        ng-attr-min="{{ attrs.min ? attrs.min : null }}"
        ng-attr-max="{{ attrs.max ? attrs.max : null }}"
        ng-attr-step="{{ attrs.step ? attrs.step : null }}"
        number-only="{{ numberOnly() ? 'true' : '' }}"
    >
    <div
        class="input-group-addon"
        ng-bind="maxlength - model.length"
    ></div>
</div>
