<div class="checkbox">
    <label ng-if="!html()">
        <input
            type="checkbox"
            ng-model="model"
            ng-true-value="{{ trueValue }}"
            ng-false-value="{{ falseValue }}"
            name="{{ name }}"
            ng-required="{{ required ? true : false }}"
        >
        {{ label }}
    </label>
        <label ng-if="html()">
            <input
                type="checkbox"
                ng-model="model"
                ng-true-value="{{ trueValue }}"
                ng-false-value="{{ falseValue }}"
                name="{{ name }}"
                ng-required="{{ required ? true : false }}"
            >
            <span ng-bind-html="label"></span>
        </label>
</div>
